/* ==========================================================================
   Base Stylesheet
   base.less
   ========================================================================== */
.translation-container {
  margin: 1em 0;
}

.input-text {
  width: 100%;
  min-height: 10em;
}
