.edit-form {
  margin-top: 1em;

  textarea {
    height: 5em;
    width: 70%;
    margin: 1em 0;
  }

  button {
    margin-right: 1em;
  }

  .revisions {
    margin: 1em 0;
  }
}

@media (max-width: 990px) {
  .edit-form textarea {
    width: 100%;
  }
}