.edit-form {
  // @bg: #ededed;
  // @border: darken(@bg, 30%);
  // @shadow: lighten(yellow, 30%);

  & textarea {
    height: 5em;
    width: 50%;
    margin: 1em 0;
  }

  & button {
    margin-right: 1em;
  }
}