{% extends '_layout.html' %}

{% block title %}About Translatr{% endblock %}

{% block content %}
<p>Quick translation tool for people.</p>

<p>
  <iframe width="640" height="480" src="//www.youtube.com/embed/OG2kpbo2Huo?rel=0" frameborder="0" allowfullscreen></iframe>
</p>

<p>
  Project page on GitHub <a href="https://github.com/radev/translatr">https://github.com/radev/translatr</a>
</p>

<p>
  Black Cat Team page
  <a href="https://github.com/koding/global.hackathon/blob/master/Teams/BlackCat/ABOUT.md">https://github.com/koding/global.hackathon/blob/master/Teams/BlackCat/ABOUT.md</a>
</p>

<h1>
<a id="user-content-our-technological-stack" class="anchor" href="#our-technological-stack" aria-hidden="true"><span class="octicon octicon-link"></span></a>Our technological stack</h1>

<p>We used PubNub API to communicate between users during translation.</p>

<p>We used next open-source frameworks, libraries and tools</p>

<ul class="task-list">
<li>Node.js</li>
<li>RethinkDB</li>
<li>Ampersand.js</li>
<li>React.js</li>
<li>LESS</li>
<li>Yeoman</li>
<li>Gulp</li>
<li>Bootstrap</li>
<li>Bower and NPM</li>
</ul>

<h1>
<a id="user-content-our-food-stack" class="anchor" href="#our-food-stack" aria-hidden="true"><span class="octicon octicon-link"></span></a>Our food stack</h1>

<p>We used next beverages during coding</p>

<ul class="task-list">
<li>Green tea (a lot of them)</li>
<li>Energetic coffee Xing</li>
<li>Pepsi </li>
</ul>

<p>No one of cats, dogs, babies, wives or other animals including people and extraterrestrials where harmed or injured during the coding of this project.</p>

{% endblock %}
