{% extends '_layout.html' %}

{% block title %}
  <span class="red">{{ error.header.title.kind }}</span>: {{ error.header.message }}
{% endblock %}

{% block content %}
  <div class="errors">
    <dl>
      {% for item in error.trace %}
        {% if item.item.custom %}
          <dt><span class="custom">{{ item.item.custom }}</span></dt>
        {% else %}
          {% set header = item.item.header %}
          <dt><span class="file">{{ header.pointer.file }}</span>:
            <span class="line">{{ header.pointer.line }}</span>
            <span class="function">{{ header.what }}</span>
          </dt>
          <dd>{{ item.item.footer.addr }}</dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
{% endblock %}
