{% extends '_layout.html' %}

{% block content %}
    <div class="container theme-showcase">

      <div class="alert alert-warning">
        <strong>Warning!</strong> Currently we are redirecting to predefined translation page.
      </div>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Translatr</h1>
        <p>Service for quick translation between people</p>
        <!-- <button type="button" class="btn btn-primary">Learn More</button> -->
      </div>

      <div class="translation-container">
        <p>Input your text for translation here</p>
        <form action="/" method="POST">
          <p>
            <textarea name="text" class="input-text"></textarea>
          </p>

          <div>
            <button type="submit" class="btn btn-primary">Let's Translate</button>
          </div>
        </form>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aut laboriosam et adipisci veritatis laborum laudantium optio. Voluptas libero ab repellendus molestiae, consectetur animi alias dignissimos. Quaerat repellendus cumque rerum.
      </p>

    </div> <!-- /container -->
{% endblock %}
