<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Translatr -- quick translation app">
    <meta name="author" content="BlackCat Team">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Translatr</title>

    <!-- Custom styles for this template -->
    <link href="/styles/app.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Translatr</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="demo">Demo</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Translatr</h1>
        <p>Service for quick translation between people</p>
        <!-- <button type="button" class="btn btn-primary">Learn More</button> -->
      </div>

      <div class="translation-container">
        <p>Input your text for translation here</p>
        <form action="/" method="POST">
          <p>
            <textarea name="text" class="translation-text"></textarea>
          </p>

          <div>
            <button type="submit" class="btn btn-primary">Let's Translate</button>
          </div>
        </form>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur aut laboriosam et adipisci veritatis laborum laudantium optio. Voluptas libero ab repellendus molestiae, consectetur animi alias dignissimos. Quaerat repellendus cumque rerum.
      </p>

    </div> <!-- /container -->

    <!--
    Scripts
    ==================================================
    Placed at the end of the document so the pages load faster -->
    <!-- <script src="scripts/app.js"></script> -->
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
